In [2]:
import pandas as pd
file = 'https://raw.githubusercontent.com/alamhanz/pandas_journey/main/mydata/food_delivery_datasets.csv'
dataset = pd.read_csv(file, sep=',')
dataset.head()

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587

In [3]:
#harga makanan termahal
dataset['food_price'].max()

448500

In [4]:
#harga makanan termurah
dataset['food_price'].min()

12900

In [5]:
#rata-rata delivery fee yang dikeluarkan tiap customer
dataset['delivery_fee'].mean()

9252.788104089219

In [6]:
#banyak rating diatas 4
condition = dataset['rating']>=4
dataset['rating'][condition].count()

592

In [7]:
#rata-rata banyak order
dataset['cust_id'].value_counts().mean()

7.797101449275362

In [8]:
#restoran yang paling sering orderannya menggunakan voucher
condition = dataset['voucher_amount']>0
dataset['resto_id'][condition].value_counts()

742641984    4
742676756    4
742633392    3
742591683    3
742606960    3
            ..
742703942    1
742560888    1
742541122    1
742577516    1
742724601    1
Name: resto_id, Length: 126, dtype: int64

In [9]:
#Berapa jumlah nominal voucher yang digunakan oleh pelanggan yang paling sering pakai voucher?
condition = dataset['voucher_amount']>0
condition2 = dataset['cust_id'][condition]==316834
dataset['voucher_amount'][condition][condition2].sum()

106000

In [10]:
#Rata-rata customer paling sering pesan di restoran apa?
dataset['resto_id'].value_counts()

742610474    12
742591683    12
742676756     9
742622470     9
742731698     9
             ..
742650617     1
742587128     1
742685430     1
742781678     1
742535159     1
Name: resto_id, Length: 671, dtype: int64

In [11]:
#ongkos kirim termahal
dataset['delivery_fee'].max()

44000

In [13]:
#modus dari ongkos kirim
dataset['delivery_fee'].mode()

0    4000
dtype: int64

In [6]:
#rata-rata dari ongkos kirim
dataset['delivery_fee'].mean()

9252.788104089219

In [3]:
import pandas as pd
file = 'https://raw.githubusercontent.com/alamhanz/pandas_journey/main/mydata/food_delivery_datasets.csv'
dataset = pd.read_csv(file, sep=',')
dataset.head()

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587

In [4]:
#mengetahui info dari data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        1076 non-null   object
 1   voucher_amount  1076 non-null   int64
 2   date_time       1076 non-null   object
 3   eta_seconds     1076 non-null   int64
 4   food_price      1076 non-null   int64
 5   cust_id         1076 non-null   int64
 6   rating          598 non-null    float64
 7   delivery_fee    1076 non-null   int64
 8   resto_id        1076 non-null   int64
 9   status          1076 non-null   object
 10  random_id       1076 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 92.6+ KB

In [5]:
#statistika deskriptif data
dataset.describe()

,voucher_amount,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,random_id
count,1076.000000,1076.000000,1076.000000,1.076000e+03,598.000000,1076.000000,1.076000e+03,1076.000000
mean,1053.903346,1632.289033,78041.821561,8.274251e+05,4.946488,9252.788104,7.275119e+08,0.498824
std,3127.726510,948.628732,58512.508208,4.380402e+05,0.295946,6723.595497,8.923529e+07,0.288533
min,0.000000,2.000000,12900.000000,2.289500e+04,1.000000,0.000000,2.000006e+08,0.001616
25%,0.000000,1074.750000,38200.000000,3.667210e+05,5.000000,4000.000000,7.425411e+08,0.246024
50%,0.000000,1605.500000,59200.000000,8.547090e+05,5.000000,9000.000000,7.425990e+08,0.490014
75%,0.000000,2151.000000,101100.000000,1.230166e+06,5.000000,12000.000000,7.426671e+08,0.757871
max,25000.000000,6082.000000,448500.000000,1.548571e+06,5.000000,44000.000000,7.428147e+08,0.999124